@media only screen and (max-width: 600px){
    h1{
        font-size: 100px;
        background-color: blue;
    }
}


@media only screen and (max-width: 200px){
    h1{
        background-color: yellow;
    }

}